*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;

}
nav{
    flex: 1;
    text-align: right;

}
nav ul{
    display: inline-block;
    list-style-type: none;
   

}
nav ul li:hover{
    transform: translateY(-5px);
    background: rgb(170, 181, 235);
}
nav ul li {
    display: inline-block;
    margin-right: 22px;
    transition: transform 0.5s;
}
a{
    text-decoration: none;
    color: rgb(52, 86, 75);
}
.container{
    max-width: 1400px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 350px;
}
.col-2 img{
    max-width: 100%;
    height: 260px;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 55px;
    line-height: 62px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: rgb(153, 88, 88);
    color: aliceblue;
    padding: 8px 32px;
    border-radius: 26px;
    margin: 29px 0;
    transition: 1s;
}
.btn:hover{
    background-color: rgb(55, 45, 45);
}
.header{
    background: radial-gradient(#fff, rgba(246, 246, 233, 0.867));
}
.header .row{
    margin-top: 50px;
}
.categories{
    margin: 72px 0;

}
.col-3{
    flex-basis: 32%;
    min-width: 250px;
    margin-bottom: 30px;
    /* border: 2px solid grey; */

}
.col-3 img {
    width: 50%;
    height: auto;
}
.small-container{
    max-width: 1050px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 23%;
    padding: 10px;
    margin-bottom: 45px;
    max-width: 1080px;
    /* margin: 2px; */
    transition: transform 1s;
    box-shadow: 0 0 10px 0px rgb(225, 221, 221);
}
.col-4 img {
    width: 60%;

}
.titlehotselling{
    text-align: center;
    margin: 0 auto 70px;
    position: relative;
    line-height: 50px;
    color: rgb(104, 88, 88);
}
.titlehotselling::after{
    content: "";
    background: rgb(253, 98, 98);
    width: 80px;
    height: 6px;
    border-radius: 20px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: #555;
    font-weight: normal;
}
.col-4{
    font-size: 15px;
}
.rating{
    color: rgb(182, 131, 12);
}
.col-4:hover{
    transform: translateY(-15px);
}
.exclusive img {
    height: 455px;
    width: 34%;
}
.exclusive{
    background: radial-gradient(#fff, rgba(246, 246, 233, 0.867));
    margin-top: 60px;
    padding: 34px;
}
.col-2 .after-img{
    padding: 49px;
}
small{
    color: #555;
}
.brands{
    margin: 100px auto;

}
.col-5{
    width: 150px;

}
.col-5 img{
    width: 100%;
    filter: grayscale(70%);
    cursor: pointer;
}
.col-5 img:hover{
    filter: grayscale(0%);
}

/* footer */
.footer{
    background: rgb(57, 53, 53);
    color: #cdc8c8;
    font-size: 15px;
    padding: 50px 0 21px;
}
.footer p{
    color: #dbd5d5;
}
.footer h3{
    color: rgb(255, 253, 253);
}
.footer-column-1, .footer-column-2, .footer-column-3, .footer-column-1{
    min-width: 220px;
    margin-bottom: 22px;

}
.footer-column-1{
    flex-basis: 30%;
}
.footer-column-2{
    flex: 1;
    text-align: center;
}
.footer-column-2 img{
    width: 100px;
    margin-bottom: 22px;
}
.footer-column-3, .footer-column-4{
    flex-basis: 12%;
    text-align: center;
    margin: 13px;

}
.footer-column-3 h3, .footer-column-4  h3{
    padding: 13px;
}
ul{
    list-style: none;
}

.text-footer{
    text-align: center;
    margin-top: 23px;
    color: bisque;
}
.footer hr {
    border: none;
     height: 1px; 
    margin: 12px;
    background: #dbd5d5;
   
}

/* //form css */
.form{
    max-width: 62%;

    margin: auto;
    
}
.form-input{
    width: 100%;
    border: 2px solid grey;
    border-radius: 8px;
    margin-top: 16px;
    padding: 12px;
    font-size: 20px;
}

.contact{
    background-color: antiquewhite;
    
    height: 120vh;
    /* margin: auto; */
}
.contactdet, .text-center{
    text-align: center;
    padding: 12px;

}