*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
    position: sticky;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li:hover{
    transform: translateY(-5px);
    background: rgb(170, 181, 235);
}
nav ul li {
    display: inline-block;
    margin-right: 22px;
    transition: transform 0.5s;
}
a{
    text-decoration: none;
    color: rgb(52, 86, 75);
}
.container{
    max-width: 1400px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 350px;
}
.col-2 img{
    max-width: 100%;
    height: 260px;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 55px;
    line-height: 62px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: rgb(153, 88, 88);
    color: aliceblue;
    padding: 8px 32px;
    border-radius: 26px;
    margin: 29px 0;
    transition: 1s;
}
.btn:hover{
    background-color: rgb(55, 45, 45);
}
.header{
    background: radial-gradient(#fff, rgba(246, 246, 233, 0.867));
    /* position: sticky; */
}
.header .row{
    margin-top: 50px;
}
.categories{
    margin: 72px 0;

}
.col-3{
    flex-basis: 32%;
    min-width: 250px;
    margin-bottom: 30px;
    /* border: 2px solid grey; */

}
.col-3 img {
    width: 50%;
    height: auto;
}
.small-container{
    max-width: 1050px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 23%;
    padding: 10px;
    margin-bottom: 45px;
    max-width: 1080px;
    /* margin: 2px; */
    transition: transform 1s;
    box-shadow: 0 0 10px 0px rgb(225, 221, 221);
}
.col-4 img {
    width: 65%;

}
.titlehotselling{
    text-align: center;
    margin: 0 auto 70px;
    position: relative;
    line-height: 50px;
    color: rgb(104, 88, 88);
}
.titlehotselling::after{
    content: "";
    background: rgb(253, 98, 98);
    width: 80px;
    height: 6px;
    border-radius: 20px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: #555;
    font-weight: normal;
}
.col-4{
    font-size: 15px;
}
.rating{
    color: rgb(182, 131, 12);
}
.col-4:hover{
    transform: translateY(-15px);
}
.exclusive img {
    height: 455px;
    width: 34%;
}
.exclusive{
    background: radial-gradient(#fff, rgba(246, 246, 233, 0.867));
    margin-top: 60px;
    padding: 34px;
}
.col-2 .after-img{
    padding: 49px;
}
small{
    color: #555;
}
.brands{
    margin: 100px auto;

}
.col-5{
    width: 150px;

}
.col-5 img{
    width: 100%;
    filter: grayscale(70%);
    cursor: pointer;
}
.col-5 img:hover{
    filter: grayscale(0%);
}

/* footer */
.footer{
    background: rgb(57, 53, 53);
    color: #cdc8c8;
    font-size: 15px;
    padding: 50px 0 21px;
}
.footer p{
    color: #dbd5d5;
}
.footer h3{
    color: rgb(255, 253, 253);
}
.footer-column-1, .footer-column-2, .footer-column-3, .footer-column-1{
    min-width: 220px;
    margin-bottom: 22px;

}
.footer-column-1{
    flex-basis: 30%;
}
.footer-column-2{
    flex: 1;
    text-align: center;
}
.footer-column-2 img{
    width: 100px;
    margin-bottom: 22px;
}
.footer-column-3, .footer-column-4{
    flex-basis: 12%;
    text-align: center;
    margin: 13px;

}
.footer-column-3 h3, .footer-column-4  h3{
    padding: 13px;
}
ul{
    list-style: none;
}

.text-footer{
    text-align: center;
    margin-top: 23px;
    color: bisque;
}
.footer hr {
    border: none;
     height: 1px; 
    margin: 12px;
    background: #dbd5d5;
   
}

/* //form css */
.form{
    max-width: 62%;

    margin: auto;
    
}
.form-input{
    width: 100%;
    border: 2px solid grey;
    border-radius: 8px;
    margin-top: 16px;
    padding: 12px;
    font-size: 20px;
}

.contact{
    background-color: antiquewhite;
    
    height: 120vh;
    /* margin: auto; */
}
.contactdet, .text-center{
    text-align: center;
    padding: 12px;

}
.small-container h2{
    margin-bottom: 20px;
    margin-top: 23px;
}
.fa-cart-plus{
    position: relative;
    bottom: 0;
    right: 0;
    /* background: var(--text-color); */
    /* color: var(--bg-color); */
    padding: 5px;
    cursor: pointer;
}
.cart{
    position: fixed;
    top: 0;
    right: 0;
    width: 5000px;
    min-height: 100vh;
    padding: 20px;
    background: var(--bg-color);
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
}
.cart-img{
    width: 100%;
    height: 300px;
}
.cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #6a5754;
    font-weight: normal;
}
td{
    padding: 10px 5px ;
}
td input{
    width: 50px;
    height: 30px;
    padding: 5px;
}
td img{
    width: 75px;
    height: 150px;

}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid grey;
    width: 100%;
    max-width: 350px;

}
td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}

/* //cart css  */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
         url("Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #777;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3)
}

.main-nav li {
    padding: 0 5%;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3)
}

.main-header {
    background-color: rgba(0, 0, 0, .6);
    background-image: url("Images/Header Background.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}

.band-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "Booter - Zero Zero";
    font-weight: normal;
    color: white;
}

.band-name-large {
    font-size: 8em;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.section-header {
    font-family: "Metal Mania";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.about-band-image {
    float: left;
    height: 200px;
    width: 200px;
    margin: 15px;
    border-radius: 50%;
}

.main-footer {
    background-color: #56CCF2;
    color: white;
    padding: .25em 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    width: 30px;
    height: 30px;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid #2D9CDB;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
}

.btn-play {
    display: block;
    margin: 0 auto;
    color: #2D9CDB;
    font-size: 4em;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
}

.btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
    margin: 12px;
}

.btn-primary:hover {
    background-color: #2D9CDB;
}

.tour-row {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.tour-row:last-child {
    border: none;
}

.tour-item {
    display: inline-block;
    padding-right: .5em;
}

.tour-date {
    color: #555;
    width: 11%;
    font-weight: bold;
}

.tour-city {
    width: 24%;
}

.tour-arena {
    width: 42%;
}

.tour-btn {
    max-width: 19%;
}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 217px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}