@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Satisfy&family=Shadows+Into+Light&display=swap');
*{
    margin: 0;
    padding: 0;
    

}
html{
    scroll-behavior: smooth;
}
.logo{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 33%;
    border: 2px solid black;
    border-radius: 33px;    
    margin: 15px;

}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
   

}
.nav-list{
    width: 70%;
    display: flex;
    /* background-color: black; */
    align-items: center;
    justify-content: center;

    
}

.nav-list li {
    list-style: none;
    padding: 30px;

}

.nav-list li a {
    text-decoration: none;
    color: aliceblue;
}


.nav-list li a:hover {
   color: chartreuse;
}
.rightNav{
    /* background-color: blueviolet; */
    text-align: right;
    width: 50%;
    padding: 2px;
}

#search{
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 5px;
}

.background{
    background: rgba(0, 0, 0, 0.7) url('../img/bg.jpg');
    background-size: cover;
    background-blend-mode: darken;

}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    height: 100%;
    margin: auto;
    color: white;
    border: 2px solid;
    font-family: 'Times New Roman', Times, serif;
    
}

.secondhalf img {
    width: 70%;
    padding: 3px 0;
    border: 2px solid white;
    border-radius: 150px;
    display: block;
    margin: auto;
}
.firstsection{
    height: 40vh;
}

.firsthalf{
    width: 75%;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.secondhalf{
    width: 30%;
}

.text-big{
    font-size: 32px;

}
.text-small {
    font-size: 20px;
}

.btn{
    padding: 8px 20px;
    margin: 7px 3px;
    border: 2px solid white;
    /* font-size: 18px; */
    border-radius: 23px;
    color: azure;
    cursor: pointer;
    background: none;
}
.btn:hover{
    color: rgb(45, 125, 128);
}

.section{
    display: flex;
    /* height: 500px; */
    align-items: center;
    justify-content: space-evenly;
    max-width: 90%;
    margin: auto;
    padding: 13px;
    font-family: 'Satisfy', cursive;
}


.section-left{
    flex-direction: row-reverse;
}
.thumbnail img{
    width: 100%;
    border-radius: 10px;
    margin-top: 19px;
    border: 2px solid white ;
}

.paras{
    padding: 0 69px;
    /* font-family: 'Shadows Into Light', cursive; */
   
}

.sectionSubTag{
    font-family: 'Shadows Into Light', cursive;
}

.contact{
    background-color: antiquewhite;
    
    height: 200vh;
    /* margin: auto; */
}
.text-center {
    text-align: center;
    padding: 5px 10px;
    font-family: cursive;
    padding-top: 20px;
    /* margin-top: 6px; */
}
.form{
    max-width: 62%;
    margin: auto;
    height: max-content;
    
}
.form-input{
    width: 100%;
    border: 2px solid grey;
    border-radius: 8px;
    margin-top: 16px;
    padding: 12px;
    font-size: 20px;
}

.btn-dark{
    /* background-color: black; */
    color: black;
    border: 2px solid grey;
}

.text-footer{
    color: white;
    text-align: center;
    padding: 5px 10px;
    font-family: cursive;
    /* padding-top: 20px; */
}
.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}
.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}

@media only screen and (max-width: 1140px) {
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        transition: all 0.9s ease-out;
        height: 456px;
    }
    .rightNav{
        text-align: center;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    #search{
        width: 100%;
    }
    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 72px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .section{
        flex-direction: column;
    }
    .text-small {
        text-align: center;
    }
    .text-big{
        text-align: center;
    }
    .btn{
        text-align: center;
    }
    .paras{
        padding: 0px 0px;
        
    }
    .section{
        padding: 10px 5px;
    }

}

